*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu_horizontal ul{
    list-style: none;
    background-color: #f67c92;
    height: 50px;
    float: right;
    padding: 15px;
}

#menu_horizontal ul li{display: inline;}

#menu_horizontal ul li a {
  padding: 10px;
  text-decoration: none;

}

#menu_horizontal ul li a:hover{
  background-color: beige;
  color: cornflowerblue;
  transition-duration: 3s;
} 


 #logo{
  width: 100px;
  margin-top: 20px;
 }

 header{
  height: 100vh;
  background-image: url(../imagens/background.png);
  background-position: center;
  background-size: cover;
  margin-left: 100px;
 }

.texto-cabecalho{
  max-width: 350px;
  margin-top: 140px;
}

h1{font-size: 34px;}

p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}

header .btn-comun{
  margin-top: 20px;
  margin-bottom: 60px;
}

/*detalhes*/

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #f67c92;
}

.linha1 {
  width: 100px;
  height: 1px; 
  background-color: #f67c92;
  display: inline-block;
}

.linha2 {
  width: 80px;
  height: 1px; 
  background-color: #f67c92;
  display: inline-block;
}

.linha3 {
  width: 60px;
  height: 1px; 
  background-color: #f67c92;
  display: inline-block;
}

.linha {
  line-height: 8px;
  margin-bottom: 20px;
}

 /*sobre*/
 #sobre{
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 }

.sobre-cool-esquerda{
  flex-basis: 50%;
  -ms-flex-align: right;
} 

.sobre-cool-esquerda img{
  width: 100%;
}

.sobre-texto{
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

h2{
  margin: 50px 0 10px;
  font-size: 25px;
  font-style: italic;
}

h3{
  font-size: 25px;
  font-style: italic;
  color: #797979;
}

.sobre-cool-direita{
  flex-basis: 50%;
}

/*recursos*/

#recursos{ padding-top: 50px; padding-bottom: 50px;}

#recursos-linha{ 
  width:80%; margin: auto; display: flex;
  align-items: center; justify-content: space-around;
  flex-wrap: wrap;}

.recursos-coluna{
  height: 300px; flex-basis: 20%;
  text-align: center; box-shadow: 0 0, 5px 0 rgba(0, 0, 0, 0.3);
}

.recursos-culuna:hover {cursor: pointer;}

.recursos-culuna img{width: 100%; margin-bottom: 30px;}

.recursos-culuna H4{margin-top: 15px; margin-bottom: 15px; font-size: 20px; font-weight: 400;}

/*contato*/
#contato{
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#contato-coluna-esquerda, #contato-coluna-direita{
  flex-basis: 50%;
}

#contato-coluna-direita img{
  width: 100%;
}

form{
  max-width: 70%;
  margin: 30px 0px;
}
form input,textarea{
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  border: 2px solid #fab3c4;
}

#contato-btn{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#contato-btn button{
  flex-basis: 48%;
  padding: 18px 0;
}

/*footer*/

footer{padding: 50px, 0 30px;}
hr{width: 100%;
  border-top: 1px solid #f67c92;
  margin-bottom: 30px;
}
.conteiner-footer-linha{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f67c92;
  padding: 10px;
}

.footer-coluna-esquerda{
  flex-basis: 35%;
  margin-top: 5px, 100px;
  justify-items: right;
  justify-content: flex-end;
}

.footer-coluna-direita{flex-basis: 55%;}

.footer-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links h4{color: #782135; margin-bottom: 20px;}

.footer-links small{font-size: 13px; color: #383838;}

.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img{width: 100%;}

.footer-logo button { 
  padding: 12px 20px;
  margin-top: 20px 30px;
  font-size: 10px;
  border: 1px solid #edbcc5;
}

.copyright-text, .footer-logo{flex-basis: 40%; font-size: 0,7em;}

